body {
  font-family: "Cinzel Decorative", cursive;
  background-color: #f2e5d9;
}
.header {
  color: #a18167;
  text-align: center;
  width: 500px;
  margin: 40px auto;
  padding: 50px;
  border: 7px solid #fafdf3;
}
.post {
  margin: 100px auto;
  text-align: center;
  width: 900px;
  height: 600px;
  background-color: #e9d3c0;
  padding: 20px;
  font-size: 30px;
  color: #fdfaf7;
  border-radius: 25px;
}
