body {
  font-family: "Playfair Display", serif;
  background-color: #f2e5d9;
}
.header {
  color: #a18167;
  text-align: center;
  width: 500px;
  margin: 40px auto;
  padding: 50px;
  border: 7px solid #fafdf3;
}
.one {
  margin: 70px auto;
  text-align: center;
  width: 900px;
  height: 400px;
  background-color: #e9d3c0;
  padding: 20px;
  font-size: 30px;
  color: #fdfaf7;
}
